<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prixderevient</servlet-name>
        <servlet-class>servlet.prixderevient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detailcomposition</servlet-name>
        <servlet-class>servlet.Detailcomposition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listepourboire</servlet-name>
        <servlet-class>servlet.listepourboire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choixserveur</servlet-name>
        <servlet-class>servlet.choixserveur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeserveur</servlet-name>
        <servlet-class>servlet.listeserveur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commander</servlet-name>
        <servlet-class>servlet.commander</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listecommande</servlet-name>
        <servlet-class>servlet.listecommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeaddition</servlet-name>
        <servlet-class>servlet.listeaddition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailaddition</servlet-name>
        <servlet-class>servlet.detailaddition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prixderevient</servlet-name>
        <url-pattern>/prixderevient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detailcomposition</servlet-name>
        <url-pattern>/Detailcomposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listepourboire</servlet-name>
        <url-pattern>/listepourboire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choixserveur</servlet-name>
        <url-pattern>/choixserveur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeserveur</servlet-name>
        <url-pattern>/listeserveur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commander</servlet-name>
        <url-pattern>/commander</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listecommande</servlet-name>
        <url-pattern>/listecommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeaddition</servlet-name>
        <url-pattern>/listeaddition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailaddition</servlet-name>
        <url-pattern>/detailaddition</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
